.addComment-body {
    margin-left: 250px;
    padding-bottom: 50px;
  }

div.scrollable { 
    overflow-x: auto;
    height: 500px;
    width: 300px;
    border: 1px solid rgb(206, 212, 218);
    padding: 10px;
  }

.noStyle {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.btn-sm-custom {
  width: 40px !important;
}

.hr-custom {
  width: 260px;
  margin: 2px 0px;
}

.custom-link {
  color: rgb(134, 134, 134);
  text-decoration: none !important;
  &:hover {
    color: rgb(230,51,41);
    text-decoration: none !important;
  }
}

.custom-link-red {
  color: rgb(230,51,41);
  text-decoration: none !important;
  &:hover {
    color: rgb(230,51,41);
    text-decoration: none !important;
  }
}

.custom-frame {
  border: 1px solid rgb(206, 212, 218);
}