.allCategories-body {
  margin-left: 250px;
  padding: 0px 10px;
}

.inner-table {
  background: white;
}


.button-add-file {
  background: url('resources/assets/Add_Plus.svg');
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

button {
  border: none;
  border-radius: 50px;
}

.text {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link .active {
  color: black;
}

#myTab {
  .nav-item {
    margin-right: 5px;
    border-radius: 12px 12px 0px 0px;
    background: $red;
    .nav-link {
      color: white;
    }
  }
  .nav-item {
    border-radius: 12px 12px 0px 0px;
    .nav-link.active {
      color: black !important;
    }
  }
}

#abstract-tab,
#old-test-tab,
#index-cards-tab {
  border-radius: 12px 12px 0px 0px;
}

table.table {
  margin-top: 15px;
}
