// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Includes
@import 'resources/sass/login';
@import 'resources/sass/home';
@import 'resources/sass/sidebar';
@import 'resources/sass/topbar';
@import 'resources/sass/addModule';
