.home-body {
  margin-left: 250px;
}

.module-card {
  background-color: white;
  width: 350px;
  margin-top: 555px;
  box-shadow: 0px 5px 30px 5px rgba(204,204,204,1);
  border-radius: 10px;
  padding: 8px 16px;
  hr {
    margin: 5px 0px !important;
  }
}

.card-container {
  // margin-left: 250px;
  li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

span.add-module {
    background: url('resources/assets/Add_Plus.svg');
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    width: 23px;
}

.button-add-lessons {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle.dark-toggle {
  color: black;
  background: none;
}

.no-link:hover {
  text-decoration: none !important;
  color: black !important;
}

// .dropdown-content {
//   display: none;
//   position: fixed;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   padding: 12px 16px;
//   z-index: 1;
// }


.lesson-name {
  font-weight: 600;
  color: black !important;
}

.lesson-name:hover {
  font-weight: 600;
  color: black !important;
}

///////////


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

:focus {
    outline-color: #fa0;
}



/* Board info bar */

.board-info-bar {
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    padding: 0 1rem;
    color: #f6f6f6;
}

.board-controls {
    display: flex;
}

.board-controls .btn {
    margin-right: 1rem;
}

.board-controls .btn:last-of-type {
    margin-right: 0;
}

.board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 150ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
}

.board-info-bar .btn:hover {
    background-color: #006aa8;
}

.private-btn-icon,
.menu-btn-icon {
    padding-right: 0.6rem;
    white-space: nowrap;
}

.board-title h2 {
    font-size: 1.1rem;
    font-weight: 700;
    white-space: nowrap;
}

/* Lists */

.lists-container::-webkit-scrollbar {
    height: 1rem;
}

.lists-container::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
    // border: 0.8rem solid #0079bf;
    // border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: flex-start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: 100vh;
}

.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: 100vh;
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list:last-of-type {
    margin-right: 0;
}

.list-title {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    padding: 0.6rem;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}

.list-items::-webkit-scrollbar {
    width: 0.8rem;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
    border-right: 0.4rem solid #e2e4e6;
}

.list-items li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
}

.list-items li:last-of-type {
    margin-bottom: 0;
}



/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
    body {
        display: grid;
        grid-template-rows: 4rem 3rem auto;
        grid-row-gap: 0.8rem;
    }


    .board-controls {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    .lists-container {
        display: grid;
        grid-auto-columns: 20rem;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    .list {
        display: grid;
        grid-template-rows: auto minmax(auto, 1fr) auto;
    }

    .list-items {
        display: grid;
        grid-row-gap: 0.6rem;
    }

    .logo,
    .list,
    .list-items li,
    .boards-btn,
    .board-info-bar,
    .board-controls .btn,
    .user-settings-btn {
        margin: 0;
    }
}

.inner-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.speaker-card {
  background-color: white;
  box-shadow: 0px 5px 30px 5px rgba(204,204,204,1);
  border-radius: 10px;
  padding: 8px 16px;
  border: 3px solid $red;
}

.type-pic {
  height: 20px;
}
