.home-body {
  margin-left: 250px;
}

.module-card {
  background-color: white;
  width: 350px;
  margin-top: 10px;
  box-shadow: 0px 5px 30px 5px rgba(204,204,204,1);
  border-radius: 10px;
  padding: 8px 16px;
  hr {
    margin: 0px 0px 5px 0px;
  }
}

.card-container {
  // margin-left: 250px;
  li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

span.add-module {
    background: url('resources/assets/Add_Plus.svg');
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
