files-body {
  margin-left: 250px;
  padding-left: 10px;
}

.button-add-file {
  background: url('resources/assets/Add_Plus.svg');
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}
