
.login-body{
  background: linear-gradient(90deg, #CF2D25 50%, #FFF 50%);
  width: 100%;
}

// .circle {
//   border: 3px solid $red;
//   border-radius: 50%;
//   background-color: white;
//   height: 250px;
//   width: 250px;
//   position: absolute;
//   z-index: 2000;
//   margin: 40px auto 0px auto;
//   display: table-cell;
//   text-align: center;
//   vertical-align: middle;
// }


.outer {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  max-width: 100%;
  overflow: auto;
  padding: 50px;
  z-index: 1000;
}

svg {
  height: 100%;
}

circle {
  fill: #fff;
  stroke: $red;
  stroke-width: 3px;
}

text {
  fill: #000;
  font-size: 2rem;
  font-family: sans-serif;
}



//



h2 {
  text-align: center;
  *.login {
    color: white;
  }
}

.card-row {
  margin-top: 50px;
}

.form-group input {
  border-radius: 10px;
  width: 250px;
}

.form-group select {
  border-radius: 10px;
  width: 250px;
}


.btn {
  border-radius: 10px;
  width: 250px;
}

.btn-register {
  background-color: $red;
  border: none;
  color: white;
}

.btn-link {
  color: white;
}

.login-save, .login-title {
  color: white;
}
