.form-group input {
    border-radius: 10px;
    width: 250px;
  }

  .btn-red {
    background-color: $lightRed;
    border: none;
    color: white;
  }

  .btn-red:hover {
    background-color: $red;
    border: none;
    color: white;
  }

  .btn-outline-red {
    border: $red;
  }

  .profile-card {
    background-color: white;
    box-shadow: 0px 5px 30px 5px rgba(204,204,204,1);
    border-radius: 10px;
    padding: 8px 16px;
  }

  .img-circle {
    object-fit: cover !important;
  }

  .profile-img {
    width: 125px;
    height: 125px;
  }

  .long-td {
    width: 120px;
  }

  .text-red{
    color: $red;
  }

  .centered {
    text-align: center; 
    vertical-align: middle;
  }