.main-sidebar {
  overflow-y: hidden;
  bottom: 0;
  float: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  background-color: $red;
  // z-index: 1000;
  // box-shadow: 0px 5px 30px 5px rgba(204,204,204,1);
  width: 250px;
}

.sidebar {
  height: 100%;
  overflow-y: auto;
  padding: 5px 10px;
}

.user-panel {
  position: relative;

  &,
  .info {
    white-space: nowrap;
  }

  .image {
    display: inline-block;
  }

  img {
    height: 50px;
    width: 50px;
  }

  .info {
    display: inline-block;
    padding: 5px 5px 5px 10px;
  }
}

.img-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.brand-link {
  display: block;
  white-space: nowrap;
}

.brand-image {
  float:left;
  line-height: .8;
  margin-left: .8rem;
  margin-right: .5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.profile-link {
  float: left;
}

.logout {
  display: flex;
}

.sidebar-card {
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #e63329;
  color: $white;
  .fa-plus:before {
    margin-left: -7px;
  }
  table {
    width: 100%;
  }
  hr {
    border: 0.5px solid white;
    margin-top: 0px;
    margin-bottom: 6px;
  }
  .date {
    text-align: right;
  }

}

.dropdown-toggle {
  color: white;
}

.fa.fa-plus {
  color: white;
}

.date-name, .date-date {
  font-size: 10pt;
  vertical-align: top;
  width: 100%;
}

.date-date {
  text-align: right;
}

.img-circle {
  object-fit: cover !important;
}

.btn-hidden {
  border: none !important;
}